@font-face {
  font-family: "Suisse Intl";
  src: url("./src/fonts/SuisseIntl-Regular-WebS.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("./src/fonts/SuisseIntl-SemiBold-WebS.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

:root {
  --font-size-xsmall: 12px;
  --font-size-small: 16px;
  --font-size-medium: 20px;
  --font-size-large: 64px;

  --color-white: #fff;
  --color-black: #000;
  --color-bg: var(--color-white);
  --color-fg: var(--color-black);

  --spacing-small: 20px;
  --spacing-medium: 100px;
  --spacing-large: 200px;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: var(--spacing-small);
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: "Suisse Intl";
  font-weight: 400;
}

canvas {
  display: block;
  
}

#intro {
  white-space: pre-wrap;
}

.big-text {
  font-size: var(--font-size-large);
  line-height: var(--spacing-medium);
}

.highlight {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 7px;
  text-underline-offset: 8px;
}

.home {
  padding: var(--spacing-small);
}

.home-top-links {
  display: flex;
  width: 100%;
  height: 100px;
  margin: 0;
}

.nav-link {
  display: flex;
  flex: 1 1 0;
  align-items: flex-start;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-fg);
  font-size: var(--font-size-medium);
  line-height: 1;
  text-decoration: none;
}

.highlight-header {
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
}

.work-page .nav-link.highlight-header {
  font-weight: 600;
}

.nav-link-left {
  justify-content: flex-start;
}

.nav-link-right {
  justify-content: flex-end;
}

.content {
  width: 100%;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--spacing-small);
}

.block {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.block-link {
  color: inherit;
  text-decoration: none;
}

.block img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.center-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  height: 100px;
}

.center-header .highlight-header {
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

.translate-btn {
  display: flex;
  align-items: flex-start;
  justify-self: end;
  height: 100px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  color: var(--color-fg);
  font-family: "Suisse Intl";
  font-size: var(--font-size-medium);
  line-height: 1;
  cursor: pointer;
}

.header-center {
  display: flex;
  align-items: flex-start;
  height: 100px;
  justify-self: center;
  font-size: var(--font-size-medium);
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
}

.center-content {
  width: fit-content;
  max-width: 100%;
  margin: 0 auto 0;
  font-family: "Times New Roman", Times, serif;
  font-size: var(--font-size-medium);
}

.creative-page .center-content {
  max-width: 500px;
}

.center-content p {
  font-size: var(--font-size-small);
  margin: 0 0 20px;
}

.creative-page .center-content p:nth-of-type(1),
.creative-page .center-content p:nth-of-type(3) {
  font-style: italic;
}

.center-inline-link {
  font-weight: 500;
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.center-canvas {
  width: min(500px, 100%);
  aspect-ratio: 4 / 3;
  margin: 12px 0 20px;
}

.center-canvas canvas {
  width: 100% !important;
  height: 100% !important;
}

.center-contact {
  margin-top: 100px;
  font-family: "Suisse Intl";
  font-size: var(--font-size-small);
}

.center-contact-title {
  margin-bottom: 12px;
}

.center-contact-link {
  display: block;
  width: fit-content;
  margin-bottom: 14px;
  color: inherit;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 3px;
}
